body {
	margin: 0;
	background: #EFEFEF;
	color: #A9A9A9;
	font-family: arial;
}

header {
  background: #CAEBF2;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: monospace;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block; /*make it in a row instead of alot of row*/
  position: relative; /*when  hover, the hover is relative*/
}

nav a {
  color: black;
  font-size:100px; 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #FF3B3F;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FF3B3F;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms; /*for transition*/
}

nav a:hover::before {
  width: 100%;
}

/* The sidebar menu */
.sidenav {
  height: auto; /* Auto-Height */
  width: auto; /* Auto-Width */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  right: 0; /*Stay on the right*/
  background-color: #CAEBF2; /* Black */
  border-radius: 25px; /*curved border*/
  border: outset; 1px black; /*dotted order*/
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


